/* common area */

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

/* debug area */

#debug *{
    border: 1px dashed;

}

#debug header{
    background-color: orange;
    border: 1px dashed;
    
}

#debug .container{
    height: 200px;
    background-color: aqua;

}





.flex-container .menu-left {
  
    display: flex;
    justify-content: left;
}
.flex-container .menu-right{
    
    display: flex;
    justify-content: right;
}

.menu-left{
    
    padding-right: 1rem;
    padding-left: 1rem;
    img, a{padding: 1rem 1rem;text-decoration: none; 

    }
}
.menu-right{
    
    
    padding-right: 1rem;
    padding-left: 1rem;
     a{padding: 1rem 1rem;text-decoration: none; 

    }
}