/* common area */

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

/* debug area */

#debug *{
    border: 1px dashed;

}

#debug header{
    background-color: orange;
    border: 1px dashed;
    
}

#debug .flex-container{
    height: 100px;
    background-color: aqua;

}
#debug .jumbotron{
    height: 500px;
    background-color: red;

}
#debug .container-sm{
    height: 300px;
    background-color: green;
    width: 80%;
    margin: auto;

}
#debug .row{
    height: 250px;
    background-color: yellow;
    display: flex;
    flex-direction: row;
   

}
#debug .col-4{
    height: 200px;
    width: calc((100% / 12) * 4);
    background-color: lightskyblue;
    
   

}
#debug .col-8{
    height: 200px;
    width: calc((100% / 12) * 8);
    background-color: lightslategray;
}


.flex-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    
}

.menu-left{
    display: flex;
 align-items: center;
}


.menu-left, .menu-right{
    
    
    a{padding: 1rem 1rem;text-decoration: none; 

    }
}
